<div id="<%= dom_id post %>">
  <div>
    <strong>Title:</strong>
    <%= post.title %>
    <em>(<%= post.reading_time %>)</em>
    <%= post.published? ? "[Published]" : "[Draft]" %>
  </div>

  <div>
    <strong>Body:</strong>
    <%= post.body %>
  </div>

  <div>
    <strong>Published:</strong>
    <%= post.published %>
  </div>

  <div>
    <strong>Views:</strong>
    <%= post.views_count %>
    &middot;
    <strong>Comments:</strong>
    <%= post.comments.size %>
  </div>

  <% if post.tag_list.any? %>
    <div>
      <strong>Tags:</strong>
      <% post.tag_list.each do |tag| %>
        <%= link_to tag, posts_path(tag: tag) %>
      <% end %>
    </div>
  <% end %>

</div>
